<div class="wrapper">
  <div class="row">
    <div class="col-md-10">
      <div class="heading">
        <input type="text" value="Dashboard">
      </div>
      <div class="col-md-2">
        <div class="create-icon  pull-right" pTooltip="Add Widget" tooltipPosition="left">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">  <div class="dashboard_action_wrapper">
    <ul class="dashboard_action">
      <li>
        <a href="#">
          <i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-comment" aria-hidden="true"></i>Annotate </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-files-o" aria-hidden="true"></i>Duplicate</a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-trash-o" aria-hidden="true"></i>Delete</a>
      </li>
    </ul>
  </div>
  
    <!-- <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
    </gridster-item>
  </gridster> -->

  </div>

</div>