

.dashboard_action_wrapper{display:block;background: #edeced;float:left;width:100%;}
ul.dashboard_action {float: right;padding:6px;}
ul.dashboard_action:after{clear:both;}
ul.dashboard_action li{display: inline-block;padding-right:12px;}
ul.dashboard_action li .fa{padding-right:5px;}
ul.dashboard_action li a{color:#7a7a7a;font-size: 14px;}
ul.dashboard_action li a:hover{color:#00aeef ;}
ul.dashboard_action li a.active{color:#00aeef ;}