<div class="wrapper">
        <!-- <button type="text" (click)="display = true" pButton icon="fa-external-link-square" label="Show"></button> -->
        <p-sidebar [(visible)]="display">
                <div class="header">
                <h2>Create Dashboard</h2>
        </div>
                <form>
                <div class="form-group">
                        <label>Dashboard Name</label>
                        <input type="text"  class="form-control">
                </div>
                <div class="form-group mt25">
                        <button class="btn">Cancel</button>
                        <button class="btn ">Save</button>
                </div>
        </form>
        </p-sidebar>
        <div class="row">
                <div class="manage-dashboard col-md-12 pn">
                        <div class="heading ">
                                <div class="col-md-10">
                                        <h2>Manage Dashboards</h2>
                                </div>
                                <div class="col-md-2">
                                        <div class="create-icon  pull-right" pTooltip="New Dashboard" tooltipPosition="left" (click)="display = true">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                        <p-dataTable #dt [value]="dashboards" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                        [immutable]=false selectionMode="single">
                                <p-column field="" header="" styleClass="col-icon">
                                        <ng-template let-car="rowData" pTemplate="body">
                                                <a href="#">
                                                        <i class="fa fa-home" aria-hidden="true"></i>
                                                </a>
                                                <a href="#">
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </a>
                                        </ng-template>
                                </p-column>

                                <p-column header="Name" [sortable]="true" class="col-md-3" [filter]="true" filterPlaceholder="Search">
                                        <ng-template let-car="rowData" pTemplate="body">
                                                <span class="ui-cell-data dashboardName">

                                                        <p class="" (click)=test(car)> {{car.Name}}</p>

                                                </span>
                                        </ng-template>

                                </p-column>

                                <p-column field="Owner" header="Owner" [sortable]="true"></p-column>
                                <p-column field="Action" header="Action" [sortable]="true">
                                        <ng-template let-car="rowData" pTemplate="body">
                                                <a href="#">
                                                        <i class="fa fa-files-o" aria-hidden="true"></i>
                                                </a>
                                                <a>
                                                        <i class="fa fa-trash-o" aria-hidden="true" (click)="removeDashboard(car,dt)"></i>
                                                </a>
                                        </ng-template>
                                </p-column>
                        </p-dataTable>

                </div>


        </div>
</div>

<!-- <p-growl [value]="msgs"></p-growl> -->

<p-confirmDialog #cd> 

        <p-footer>
                <button class="confirmButton" type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
                <button class="confirmButton"  type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
            </p-footer>
</p-confirmDialog>

<!-- <button type="button" (click)="confirm1()" pButton icon="fa-check" label="Confirm"></button>

<button type="button" (click)="confirm2()" pButton icon="fa-trash" label="Delete"></button> -->