.dashboardName :hover
{
    color:blue;   
    
}

.create-icon:hover
{
cursor: pointer;
}

.confirmButton{
    background: #2399e5  !important;
}

.confirmButton :hover{
    background: #2399e5  !important;
}