<!-- <app-view-holder [ads]="ads" ></app-view-holder> -->
<!-- <ndc-dynamic [ndcDynamicComponent]="component" ></ndc-dynamic> -->

<div class="grid-header">
    <div class="widget-title">
        <h2>{{widgetName}}</h2>
        <span class="dates">Last 90 days</span>
    </div>
    <ul>
        <li>
            <a>
                <i class="fa fa-pencil" aria-hidden="true" (click)=editWidget()></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-files-o" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteWidget()"></i>
            </a>
        </li>
    </ul>
</div>

<!-- <div class="button-holder"> -->
    <div class="gridster-item-content" style="width:100%;height:100%">
        <ng-template ad-host style="width:100%;height:100%"></ng-template>
    </div>
<!-- </div> -->

<p-confirmDialog #cd style="z-index: 1010"> 
    
            <p-footer>
                    <button class="confirmButton" type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
                    <button class="confirmButton"  type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
                </p-footer>
</p-confirmDialog>