.legend{max-height:25%;overflow:auto;}
.legend > ul > li > span{
    display:inline-block;
    height: 10px;
    width: 10px;
    border-radius:5px;margin:0 6px 0 0;
}

.legend > ul > li {
    display: inline-block;padding:0 6px 0 0;color:#797979;font-size:13px;
    
}
/* 
span {
    display: block;
    height: 10px;
    width: 20px;
} */

/* li {
    display:  flex;
} */