<div class="wrapper">

    <div class="row">
        <div class="create-widget col-sm-12 col-md-3 col-lg-2  p20 ">

            <form>
                <div class="form-group">
                    <button type="button" label="Click">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        <span>Create Widget</span>

                    </button>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Range</label>
                    <p-calendar [showIcon]="true" selectionMode="range" readonlyInput="true" [(ngModel)]="selectedRange" [ngModelOptions]="{standalone: true}"></p-calendar>
                </div>
                <div class="form-group">
                    <label>Widget Type </label>
                    <p-dropdown [options]="widgetType" placeholder="Widget Type" optionLabel="name" [(ngModel)]="selectedwidgetType" [ngModelOptions]="{standalone: true}"></p-dropdown>
                </div>
                <div class="form-group">
                    <label>Group By</label>
                    <p-dropdown [options]="groupby" placeholder="Group by" optionLabel="name"  [(ngModel)]="selectedGroupBy" [ngModelOptions]="{standalone: true}"></p-dropdown>
                </div>
                <div class="form-group">
                    <div class="ui-g-6">
                        <p-radioButton name="group1" value="true" label="Cost Data" inputId="opt1" [(ngModel)]="isCost" [ngModelOptions]="{standalone: true}"></p-radioButton>
                    </div>
                    <div class="ui-g-6">
                        <p-radioButton name="group1" value="false" label="Usage Data" inputId="opt2" [(ngModel)]="!isCost" [ngModelOptions]="{standalone: true}"></p-radioButton>
                    </div>
                </div>
                <div class="form-group">
                    <p-dropdown [options]="limit" placeholder="Select limit" optionLabel="name" class="limit"  [(ngModel)]="selectedLimit" [ngModelOptions]="{standalone: true}"></p-dropdown>
                    <p-spinner size="30"></p-spinner>
                </div>
                <div class="form-group">
                    <p-dropdown [options]="Agreegate" placeholder="Agreegate" optionLabel="name"  [(ngModel)]="selectedAgreegate" [ngModelOptions]="{standalone: true}"></p-dropdown>
                </div>
                <div class="form-group">

                    <a (click)="op.toggle($event)">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>Add Filter</a>


                </div>
                <button class="btn">Cancel</button>
                <button class="btn active" (click)="getData()">Save</button>
            </form>
        </div>

        <div class="preview_widget_panel col-sm-12 col-md-9 col-lg-10 ">
            <div class="row">
                <div class="col-md-12 pn">
                    <div class="widget-editor-preview-header">
                        <div class="grid-size-picker">
                            <a (click)="changeClass('small_rect')" class="grid-size small_rect" [ngClass]="small_rect"></a>
                            <a (click)="changeClass('small_square')" class="grid-size small_square" [ngClass]="small_square"></a>
                            <a (click)="changeClass('vertical_rect')" class="grid-size vertical_rect" [ngClass]="vertical_rect"></a>
                            <a (click)="changeClass('large_square')" class="grid-size large_square" [ngClass]="large_square"></a>
                            <a (click)="changeClass('large_vertical_rect')" class="grid-size large_vertical_rect" [ngClass]="large_vertical_rect"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div [ngClass]="previewClass">
                           
                        <div class="preview_widget-header">
                            <div class="widget-title">
                                <h2>Database Chart</h2>
                                <span class="dates">Last 90 days</span>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-files-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                       
                        <div class="content" [ngClass]="previewClass">
                            <!-- <button (click)="preview();isPreview=!isPreview" [hidden]="!isPreview" >Preview</button> -->
                            <ng-template ad-host style="width:100%;height:100%"></ng-template>
                            
                        </div>
                        
                    </div>
                </div>
                <!-- <div class="col-md-6 col-md-offset-3 col-centered">
                    <div class="preview_large_square">
                        <div class="preview_widget-header">
                            <div class="widget-title">
                                <h2>Reservation</h2>
                                <span class="dates">1/12/2017 4/12/2017</span>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-files-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <table class="table">
                                <tr>
                                    <th>Operation</th>
                                    <th>Cost(Total)</th>
                                </tr>
                                <tr>
                                    <td>Savings-Spot</td>
                                    <td>$ 553,148.68</td>
                                </tr>
                                <tr>
                                    <td>Spot Instances</td>
                                    <td>$ 214,043.72</td>
                                </tr>
                                <tr>
                                    <td>On Demand Instances</td>
                                    <td>$ 487,250.27</td>
                                </tr>
                                <tr>
                                    <td>Savings-partial Upfront</td>
                                    <td>$ 51,420.56</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div> -->

            </div>



        </div>
    </div>
    <p-overlayPanel #op>
        <form>
            <div class="form-group">
                <label>Accounts</label>
                <p-multiSelect [options]="acc" [(ngModel)]="selectedAccounts" (onChange)="onAccountChange()" [ngModelOptions]="{standalone: true}"></p-multiSelect>
            </div>
            <div class="form-group">
                <label>Region </label>
                <p-multiSelect [options]="reg"  [(ngModel)]="selectedRegions" (onChange)="onRegionsChange()" [ngModelOptions]="{standalone: true}"></p-multiSelect>
            </div>
            <div class="form-group">
                <label>Product </label>
                <p-multiSelect [options]="prod" [(ngModel)]="selectedProducts" (onChange)="onProductsChange()" [ngModelOptions]="{standalone: true}"></p-multiSelect>
            </div>
            <div class="form-group">
                <label>Resource Group </label>
                <p-multiSelect [options]="resourceGroup" [(ngModel)]="selectedResourceGroup" (onChange)="onResourceChange()"  [ngModelOptions]="{standalone: true}"></p-multiSelect>
            </div>
            <div class="form-group">
                <label>Operation </label>
                <p-multiSelect [options]="opera" [(ngModel)]="selectedOperations" (onChange)="onOperationsChange()" [ngModelOptions]="{standalone: true}"></p-multiSelect>
            </div>
            <div class="form-group">
                <label>Usage Type </label>
                <p-multiSelect [options]="usageType" [(ngModel)]="selectedUsageType" [ngModelOptions]="{standalone: true}"></p-multiSelect>
            </div>
        </form>
    </p-overlayPanel>

</div>
