<div class="fixed-top">
<header class="main-header" id="main-header" style="display:inline-block;">
    <!-- Logo -->
    <a routerLink="/" class="logo" >
        <!-- mini logo for sidebar mini 50x50 pixels -->
        
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <img src="assets/images/Gracenote-logo-300x88-nielsen-white-2017.png" width="175">
        </span>
    </a>
    <div class="logo_text" >
        <h2>ICE</h2>
    </div>
    <!-- Header Navbar: style can be found in header.less -->


</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" id="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="main-menu">
            <li>
                <a href="">
                    <i class="fa fa-files-o" aria-hidden="true"></i>
                    <span>AWS Summary</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <span>AWS Details</span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    <span>Reservations</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span>Utilization</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <span>Breakdown</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
</div>